# Node modules
node_modules/

# Environment variables
.env

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Replit system files (optional)
.replit
*.sqlite3
*.db

# OS-specific
.DS_Store
Thumbs.db
